In [1]:
import pandas as pd

In [2]:
euklist=pd.read_csv("EukNotEuk.csv", header = None, names= ["gene", "euk"])
euklist.head()

                       gene  euk
0   TRINITY_DN1127_c1_g3_i1    1
1  TRINITY_DN16717_c0_g1_i1    1
2  TRINITY_DN21421_c0_g1_i1    0
3  TRINITY_DN43659_c0_g1_i1    1
4  TRINITY_DN18434_c0_g1_i1    0

In [3]:
len(euklist)

56163

In [6]:
euklist1 = euklist[euklist['euk'] == 1]

In [7]:
len(euklist1)

32621

In [8]:
eukL = euklist1['gene'].tolist()
eukL[1:5]

['TRINITY_DN16717_c0_g1_i1',
 'TRINITY_DN43659_c0_g1_i1',
 'TRINITY_DN18260_c0_g1_i2',
 'TRINITY_DN2441_c1_g4_i2']

In [10]:
#parse Trinity.fasta file, keep only sequences that are in the Euk only list, make new fasta file

from Bio import SeqIO

eukRecordList = []

for record in SeqIO.parse("fullTrinity_Pc_clustered_95.fasta", "fasta"):
    if record.id in eukL :
        # Add this record to our list
        eukRecordList.append(record)

print("Found %i euk sequences" % len(eukRecordList))

SeqIO.write(eukRecordList, "pc_euk_seqs.fasta", "fasta")

Found 32621 euk sequences

32621